@import '~@material/elevation/mixins';
@import '~@material/theme/mixins';
@import '~@material/rtl/mixins';
@import '~@material/typography/dist/mdc.typography';
@import '~@material/button/dist/mdc.button';
@import './mixins';
@import './variables';

.banner {
  @include mdc-banner-base;
  @include mdc-banner-fill-color(surface);
  @include mdc-elevation(1);
  @include mdc-banner-container-layout;

  position: sticky;
  top: 0;
  z-index: 10;
  display: block;
  padding: 0;
}

.content {
  @include mdc-banner-content-layout;
}

.icon {
  @include mdc-banner-icon;
  font-size: 40px;
}

.actions {
  @include mdc-banner-actions-layout;
  justify-content: flex-end;
}

.button {
  @include mdc-rtl-reflexive-box(margin, left, 8px);
  @extend .mdc-button;

  &:first-child {
    @include mdc-rtl-reflexive-box(margin, left, 0);
  }
}

.button_raised {
  @extend .button;
  @extend .mdc-button--raised;
}

.message {
  @extend .mdc-typography--body2;
}
