@import '../../icon.module';

.button {
  composes: mdc-button from global;
  gap: 6px;
}

.buttonRaised {
  composes: mdc-button--raised from global;
}

.buttonOutlined {
  composes: mdc-button--outlined from global;
}

.buttonUnelevated {
  composes: mdc-button--unelevated from global;
}

.icon {
  // TODO: Move this to global styles and use "composes".
  @extend .materialIcon;
}
