.contribute {
  margin-top: 40px;
}

.callToAction {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 200px;
  margin: auto;
  gap: 16px;
}

.shareActions {
  margin-top: 100px;
}

.shareLinks {
  display: flex;
  justify-content: center;
}
