@import 'node_modules/@material/typography/mdc-typography';
@import 'node_modules/@material/textfield/mixins';
@import 'node_modules/@material/tab/mixins';
@import 'node_modules/@material/tab-indicator/mixins';
@import 'node_modules/@material/button/mixins';
@import 'node_modules/@material/form-field/dist/mdc.form-field';

@import 'src/styles/mixins';

:global {
  @import 'node_modules/material-components-web/dist/material-components-web';

  body {
    margin: 0;
    user-select: none;
    width: 340px;
  }
}

.settings {
  --settings-background-color: white;

  $theme-light: (
    'primary': $color-blue-mariner,
    'secondary': $color-blue-mariner-light,
    'background': white,
    'surface': white,
  );

  $colors: get-theme-colors($theme-light);
  @include theme-colors-as-custom-properties($colors);

  min-height: 100%;
  background-color: var(--settings-background-color);
  color: var(--mdc-theme-text-primary-on-background);

  &_dark {
    // To preserve original names of nested classes
    :global {
      --settings-background-color: #{$color-gray-shark};

      $theme-dark: (
        'primary': darken(white, 20%),
        'secondary': $color-blue-mariner-light,
        'background': $color-gray-shark,
        'surface': $color-gray-shark,
      );

      $colors: get-theme-colors($theme-dark);
      @include theme-colors-as-custom-properties($colors);

      .mdc-button {
        @include mdc-button-ink-color(map_get($colors, primary));

        &--raised {
          @include mdc-button-ink-color(map_get($colors, surface));
          @include mdc-button-container-fill-color(map_get($colors, primary));
        }
      }

      .mdc-text-field {
        @include mdc-text-field-ink-color(rgba(map_get($colors, on-surface), 0.87));
        @include mdc-text-field-caret-color(map_get($colors, primary));
        @include mdc-text-field-outline-color(rgba(map_get($colors, on-surface), 0.24));
        @include mdc-text-field-hover-outline-color(rgba(map_get($colors, on-surface), 0.87));
        @include mdc-text-field-focused-outline-color(map_get($colors, primary));
      }

      .mdc-tab {
        @include mdc-tab-text-label-color(rgba(map_get($colors, on-surface), 0.6));
        @include mdc-tab-active-text-label-color(map_get($colors, primary));
        @include mdc-tab-icon-color(rgba(map_get($colors, on-surface), 0.54));
        @include mdc-tab-active-icon-color(map_get($colors, primary));
      }

      .mdc-tab-indicator {
        @include mdc-tab-indicator-underline-color(map_get($colors, primary));
      }
    }
  }
}

.settings__form {
  margin: 0;
}

.settings__row {
  @extend .mdc-form-field;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px 5px 10px;
  height: 40px;
}

.bottomActions {
  @extend .settings__row;

  flex-direction: row-reverse;
}

.settings__icon {
  margin-right: 6px;

  &_label {
    color: var(--mdc-theme-text-icon-on-background);
  }
}

.settings__label {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}
