.overlay {
  all: initial;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2147483647;

  --time-auto-switch-timeout: 500ms;

  --size-window-width: 0;
  --popup-height-factor: 1;
  --popup-width-factor: 1;
  --popup-border-radius-factor: 1;
  --tab-height-factor: 1;
  --font-size-factor: 1;
  --icon-size-factor: 1;

  /* colors */
  --color-black: black;
  --color-gray-athens: #E4E7EA;
  --color-gray-athens-light: #F1F2F5;
  --color-gray-abbey: #4D5055;
  --color-blue-dodger: #448AFF;
  --color-blue-royal: #2376E5;

  /* theme */
  --tab_selected-tabCornerIcon-fill: white;
  --tab_hover-background: var(--color-gray-athens-light);
  --tab_hover-tabCornerIcon-fill: var(--color-gray-athens-light);
  --tabCornerIcon-fill: var(--color-gray-athens);
  --tab_selected-background: white;
  --tabTimeoutIndicator-background: var(--color-blue-dodger);
  --card-background: var(--color-gray-athens);
  --card-color: black;
  --tabIcon-fill: var(--color-blue-royal);
  --tabIcon_noFavIcon-fill: var(--color-gray-abbey);
}

.card {
  all: unset;
  background: var(--card-background);
  border-radius: calc(var(--popup-border-radius-factor) * 100vw);
  border-left: calc(var(--popup-border-radius-factor) * 100vw) solid white;
  border-right: calc(var(--popup-border-radius-factor) * 100vw) solid transparent;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
  0 3px 4px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.14);
  color: var(--card-color);
  font-family: 'Arial', sans-serif;
  font-size: calc(var(--font-size-factor) * 100vw);
  height: calc(var(--popup-height-factor) * 100vw);
  width: calc(var(--popup-width-factor) * 100vw);
  overflow: hidden;
}

.tab {
  all: unset;
  display: flex;
  align-items: center;
  height: calc(var(--tab-height-factor) * 100vw);
  padding: 0 calc(10 / var(--size-window-width) * 100vw);
  position: relative;
  border-bottom-right-radius: calc(var(--popup-border-radius-factor) * 100vw);
  border-top-right-radius: calc(var(--popup-border-radius-factor) * 100vw);
}

.tab:hover {
  background-color: var(--tab_hover-background);
  z-index: 10;
}

.tab:hover .tabCornerIcon {
  fill: var(--tab_hover-tabCornerIcon-fill);
}

.tab.tab_selected {
  background-color: var(--tab_selected-background);
  z-index: 20;
}

.tab.tab_selected .tabCornerIcon {
  fill: var(--tab_selected-tabCornerIcon-fill);
}

.tabCornerIcon {
  position: absolute;
  width: calc(var(--popup-border-radius-factor) * 100vw);
  height: calc(var(--popup-border-radius-factor) * 100vw);
  fill: var(--tabCornerIcon-fill);
  left: 0;
}

.tabCornerIcon_bottom {
  composes: tabCornerIcon;
  bottom: calc(-1 * var(--popup-border-radius-factor) * 100vw);
  transform: rotate(90deg);
}

.tabCornerIcon_top {
  composes: tabCornerIcon;
  top: calc(-1 * var(--popup-border-radius-factor) * 100vw);
}

.tabIcon {
  all: unset;
  height: auto;
  width: calc(var(--icon-size-factor) * 100vw);
  min-width: calc(var(--icon-size-factor) * 100vw);
  fill: var(--tabIcon-fill);
}

.tabIcon_noFavIcon {
  fill: var(--tabIcon_noFavIcon-fill)
}

.tabText {
  max-height: calc(var(--tab-height-factor) * 100vw);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: calc(14 / var(--size-window-width) * 100vw);
}

.tabTimeoutIndicator {
  all: unset;
  position: absolute;
  width: 95%;
  height: calc(2 / var(--size-window-width) * 100vw);
  background: var(--tabTimeoutIndicator-background);
  bottom: 0;
  left: calc(var(--popup-border-radius-factor) * 100vw);
  animation-name: shrunk-indicator;
  animation-duration: var(--time-auto-switch-timeout);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrunk-indicator {
  to {
    width: 0;
  }
}
