.overlay {
  all: unset;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  --popup-height-factor: 0.3;
  --popup-width-factor: 0.3;
  --font-size-factor: 0.0175;
  --icon-size-factor: 0.0175;
}

.card {
  all: unset;
  background: gray;
  color: white;
  font-size: calc(var(--font-size-factor)*100vh);
  height: calc(var(--popup-height-factor)*100vh);
  width: calc(var(--popup-width-factor)*100vw);
}

.tab {
  all: unset;
  display: block;
}

.tabIcon {
  height: auto;
  width: calc(var(--icon-size-factor)*100vh);
}

.tab_selected::before {
  all: unset;
  content: '>'
}
