// NOTE: naming blockName__elementName_modName_modVal
// this BEM naming scheme can be used in JS without quotes
:host {
  display: none;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 2147483647 !important;

  --time-auto-switch-timeout: 500ms;

  --size-window-width: 0;
  --popup-height-factor: 0;
  --popup-width-factor: 0;
  --popup-border-radius-factor: 0;
  --tab-height-factor: 0;
  --font-size-factor: 0;
  --icon-size-factor: 0;
}

.overlay {
  all: initial; // prevent leaking of inherited styles from the :host
  direction: ltr;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.card {
  @include popup-theme-light();

  background: var(--card-background-color);
  border-radius: calc(var(--popup-border-radius-factor) * 100vw);
  border-left: calc(var(--popup-border-radius-factor) * 100vw) solid;
  border-left-color: var(--tab_selected-background);
  border-right: calc(var(--popup-border-radius-factor) * 100vw) solid transparent;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
  0 3px 4px rgba(0, 0, 0, 0.12),
  0 2px 4px rgba(0, 0, 0, 0.14);
  color: var(--card-color);
  font-size: calc(var(--font-size-factor) * 100vw);
  height: calc(var(--popup-height-factor) * 100vw);
  width: calc(var(--popup-width-factor) * 100vw);
  overflow: hidden;

  &_dark {
    @include popup-theme-dark();
  }
}

.tab {
  display: flex;
  align-items: center;
  height: calc(var(--tab-height-factor) * 100vw);
  padding: 0 calc(10 / var(--size-window-width) * 100vw);
  position: relative;
  border-bottom-right-radius: calc(var(--popup-border-radius-factor) * 100vw);
  border-top-right-radius: calc(var(--popup-border-radius-factor) * 100vw);
  outline: none;

  &:hover {
    background-color: var(--tab_hover-background);
    z-index: 10;

    .tab__cornerIcon {
      fill: var(--tab_hover-background);
    }

    .tab__text::after {
      --start-color: var(--tab_hover-background);
    }
  }

  &_selected,
  &_selected:hover {
    background-color: var(--tab_selected-background);
    z-index: 20;

    .tab__cornerIcon {
      fill: var(--tab_selected-background);
    }

    .tab__text::after {
      --start-color: var(--tab_selected-background);
      right: initial;
      left: 0;
      transform: rotate(180deg);
    }
  }
}

.tab__cornerIcon {
  position: absolute;
  width: calc(var(--popup-border-radius-factor) * 100vw);
  height: calc(var(--popup-border-radius-factor) * 100vw);
  fill: var(--card-background-color);
  left: 0;

  &_bottom {
    bottom: calc(-1 * var(--popup-border-radius-factor) * 100vw);
    transform: rotate(90deg);
  }

  &_top {
    top: calc(-1 * var(--popup-border-radius-factor) * 100vw);
  }
}

.tab__icon {
  height: auto;
  width: calc(var(--icon-size-factor) * 100vw);
  min-width: calc(var(--icon-size-factor) * 100vw);
  fill: var(--tab__icon-fill);

  &_noFavIcon {
    fill: var(--tab__icon_noFavIcon-fill)
  }
}

.tab__text {
  position: relative;
  width: 100%;
  max-height: calc(var(--tab-height-factor) * 100vw);
  white-space: nowrap;
  overflow: hidden;
  padding-left: calc(14 / var(--size-window-width) * 100vw);

  &::after {
    --start-color: var(--card-background-color);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(14 / var(--size-window-width) * 100vw);
    height: 100%;
    background: linear-gradient(to left, var(--start-color), transparent);
  }
}

.tab__timeoutIndicator {
  position: absolute;
  width: 95%;
  height: calc(2 / var(--size-window-width) * 100vw);
  background: var(--tab__timeoutIndicator-background);
  bottom: 0;
  left: calc(var(--popup-border-radius-factor) * 100vw);
  animation-name: shrunk-indicator;
  animation-duration: var(--time-auto-switch-timeout);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrunk-indicator {
  to {
    width: 0;
  }
}
