// colors
$color-gray-athens: #E4E7EA;
$color-gray-athens-light: #F1F2F5;
$color-gray-abbey: #4D5055;
$color-gray-outer-space: #35393C;
$color-gray-porcelain: #E9EBEC;
$color-gray-shark: #252629;
$color-gray-shark-light: #2E3133;
$color-blue-dodger: #448AFF;
$color-blue-royal: #2376E5;
$color-blue-mariner: #366AD3;
$color-blue-mariner-light: #2274E1;

// light theme
@mixin popup-theme-light() {
  --card-color: black;
  --card-background-color: #{$color-gray-athens};
  --tab_selected-background: white;
  --tab_hover-background: #{$color-gray-athens-light};
  --tab__timeoutIndicator-background: #{$color-blue-dodger};
  --tab__icon-fill: #{$color-blue-royal};
  --tab__icon_noFavIcon-fill: #{$color-gray-abbey};
}

// dark theme
@mixin popup-theme-dark() {
  --card-color: #{$color-gray-porcelain};
  --card-background-color: #{$color-gray-shark};
  --tab_selected-background: #{$color-gray-outer-space};
  --tab_hover-background: #{$color-gray-shark-light};
  --tab__timeoutIndicator-background: #{$color-blue-dodger};
  --tab__icon-fill: white;
  --tab__icon_noFavIcon-fill: white;
}

// mdc light theme
$mdc-theme-primary: $color-blue-mariner;
$mdc-theme-secondary: $color-blue-mariner-light;
$mdc-theme-background: white;
@if(false) { // generate dark theme?
  // mdc dark theme
  $mdc-theme-primary: $color-gray-shark;
  $mdc-theme-secondary: $color-blue-mariner-light;
  $mdc-theme-background: $color-gray-outer-space;
}

@mixin settings-theme-light() {
  --settings-background-color: #{$mdc-theme-background};
  --mdc-theme-primary: #{$color-blue-mariner};
  --mdc-theme-secondary: #{$color-blue-mariner-light};
  --settings__row_hover-background-color: #{$color-gray-athens-light};

  // generated
  --mdc-theme-on-primary: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
}

@mixin settings-theme-dark() {
  --settings-background-color: #{$color-gray-outer-space};
  --mdc-theme-primary: #{$color-gray-shark};
  --mdc-theme-secondary: #{$color-blue-mariner-light};
  --settings__row_hover-background-color: #{$color-gray-shark-light};

  // generated
  --mdc-theme-on-primary: #fff;
  --mdc-theme-text-primary-on-background: white;
}
